.app.dark {
    --bg-color: #0e0e75;
    --inverted-bg-color: #dadade;

    --primary-color: rgb(6, 110, 6);
    --secondary-color: green;

    --inverted-primary-color: rgb(4, 51, 168);
    --inverted-secondary-color: rgb(9, 78, 168);
};